@import "navbar.css";

html body {
	background-color:#F7CAC9;
	height: auto;
	width: 100vw;
}


/* 
h1 {
	font-family: 'Open Sans Condensed', arial, sans;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
} */



.ranges{
	padding-top: 20vh;
	padding-left: 5vh;
	padding-right: 5vh;
}

.range-title {
	font-family: monospace;
	text-align: center;
}

.rangeList {
	text-align: center;
	text-decoration: none;
}

.range {
	font-family: monospace;
}

.range:hover{
	box-shadow: darkgoldenrod;
	text-decoration: underline;
}

.w3-light-grey {
	width: 20vw;
	margin: auto;
}