<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/caseData.css') }}">
    

    <title>Document</title>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.0.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.0.0.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.0.0.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.0.0.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.0.0.min.js"
    crossorigin="anonymous"></script>
    {{script | safe}}

</head>
<body>
    <nav id="navbar" class="">
        <div class="nav-wrapper">
          <div class="logo">
            <a href="{{url_for('views.home')}}"><i class="fa fa-angellist"></i>IMMIGENCE: Your USCIS insights</a>
          </div>
          <ul id="menu">
            <li><a href="{{url_for('views.home')}}">Home</a></li>
            <li><a href="{{url_for('views.displayRanges')}}">Ranges</a></li>
            <li><a href="{{url_for('views.about')}}">About</a></li>
            <li><a href="{{url_for('views.contact')}}">Contact</a></li>
          </ul>
        </div>
      </nav>   
      
    <div id="realBody">
        <h2>Data Insight For Case Range: {{rangeText}} </h1>
        <p>Last Updated: </p>
        <h3>Numbers for Each Petition Type In Range of 5000</h3>
        <div id="distbar" class="dist">
            <div id="distGraph" class="distChild">
            {{divDist | safe}}
            </div>
            <div id="distTable" class="distChild">
                <div id="distTableBody" class="distChild2"> 
                {{divTable | safe}}
                </div>
                <div id="distWords" class="distChild2">
                    <p>Note:"Approved Unknown" are cases that are approved, 
                    the types of which are unknownable. "Other Unknown" 
                    might belong to a less common petition type, like 
                    I-290, or status, like case rejected due to incorrect 
                    fee payment. "Invalids" mean there is no case behind 
                    a certain case number. </p>
                </div>
            </div>
        </div>

        <h2>Approved Cases By Date</h2>
        <div class="approvedCasesLog">

        </div>

        <h3>Status Trend for Each Petition Type</h3>
        <div class="wrapper statusPerType">
            <div class="tabs">
                {%for caseType in statusGraphDict.keys()%}
                <div class="tab">
                    <input type="radio" name="css-tabs" id="{{caseType}}" checked class="tab-switch">
                    <label for="{{caseType}}" class="tab-label">{{caseType}}</label>
                    <div class="tab-content">{{statusGraphDict[caseType] | safe}}</div>
                </div>
                {%endfor%}
            </div>
            <p>Example line outside of tab box</p>
        </div>
    
    </div>
    
</body>
</html>