<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/range.css') }}">
    <title>Immigence - Ranges</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  
    
</head>
<body>
  <nav id="navbar" class="">
    <div class="nav-wrapper">
      <div class="logo">
        <a href="{{url_for('views.home')}}"><i class="fa fa-angellist"></i>IMMIGENCE: Your USCIS insights</a>
      </div>
      <ul id="menu">
        <li><a href="{{url_for('views.home')}}">Home</a></li>
        <li><a href="{{url_for('views.displayRanges')}}">Ranges</a></li>
        <li><a href="{{url_for('views.about')}}">About</a></li>
        <li><a href="{{url_for('views.contact')}}">Contact</a></li>
      </ul>
    </div>
  </nav>

    <div id="ranges" class="ranges">
        <div><h2>Click on any case range below:</h2></div>
        <div class="rangeList">
            {%for text in rangeToText.keys()%}
                <div class="range">
                   <a href="{{ url_for('views.caseData', rangeId=rangeToText[text]) }}">
                    {{text}}
                </a>
                </div>
                {%endfor%}

        </div>
    </div>

</body>
